@import './variables.css';

* {
  box-sizing: border-box;
}

body {
  margin: var(--space-0);
  min-height: 100vh;
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--color-text);
  background: var(--color-bg);
}
